*{
    margin: 0;
    padding: 0;
    list-style: none;
    transition: all 0.5s ease-in-out;
}
body{
    background: url(https://cdn.lospec.com/gallery/detective-pikachu-vs-the-crime-322897.gif) no-repeat center center fixed;
}
header nav ul{
    padding: 30px 20px;
    position: absolute;
    display: inline-flex;
    color:white;
    float: right;
    right: 150px;
}
header nav ul li{
    margin-left: 15px;
    font-size: 18px;
}
header nav ul li:hover{
    border-bottom: 2px solid rgb(104, 1, 1);
}
header p {
    display: block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    float: left;
    padding: 30px 20px;
    margin-left: 50px
}
header{
    height: 100px;
    background-color: rgba(43, 42, 42, 0.479);
}
nav{
    display:inline-block;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
}
td, th {
    border: 2px;
    border-color: rgba(110, 110, 245, 0.521);
    border-style: dashed;
    text-align: center;
    padding: 8px;
    background-color: rgb(0, 0, 0);
    
    
}